/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; 
  border: .05rem solid #fff;
}


html,
body {
  height: 100%;
  background-color: rgba(32, 163, 233, 0.613);
}


.card {
  margin: 0 auto; 
  float: none; 
  margin-top: 50px;
  margin-bottom: 10px; 
  font-size: medium;
  }



